# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

# For PCBs designed using KiCad: http://www.kicad-pcb.org/

# Temporary files
*.000
*.bak
*.bck
*.kicad_pcb-bak
*~
_autosave-*
*.tmp

# Netlist files (exported from Eeschema)
*.net

# Autorouter files (exported from Pcbnew)
*.dsn
*.ses

# Exported BOM files
*.xml
*.csv
Front Panel Code/.metadata/
Front Panel Code/OpenBMS/Debug/
Front Panel Code/.jxbrowser-data/
Front Panel Code/OpenBMS/.launches/OpenBMS.launch
*.prefs
Front Panel Code/OpenBMS/targetConfigs/readme.txt
Front Panel Code/RemoteSystemsTempFiles/
Electronics/Power Dist/Gerbers/
*.zip
